<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Animal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="margin">
  <div class="center">
    <img src="..\assets\bergerAllemand.jpg" class="center"/>
  </div>
  <div class="textPolice">
    <h5>Gregoir</h5>
    Race: Berger Allemand<br />
    Genre: M<br />
    Poids: 35kg<br />
    Taille: 1m10<br />
    Date de naissance: 12/03/2017<br />
    Age: 5 ans<br />
    Caractère: c'est un gentil chien<br />
    Description: Beaux berger allemand de 5 ans trés joueur en recherche d'une famille plein d'amour. <br />
    <br />
    Information de santé: aucune<br />
    Localisation actuelle: Reims<br />
  </div>
</div>
</ion-content>
