<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Recherche
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-toolbar class="ion-otherToolbar">
        <ion-searchbar placeholder="Rechercher..." class="ion-searchbar" [(ngModel)]="searchQuery"></ion-searchbar>
        <ion-row class="filters">
            <ion-col class="filter">
                <ion-label style="padding-left: 35px">Espèce</ion-label>
                <ion-select (ionChange)="onFilterChange('espece' ,$event)" value="">
                    <ion-select-option value=""></ion-select-option>
                    <ion-select-option *ngFor="let espece of getEspeces()" [value]="espece">
                        {{espece}}
                    </ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col class="filter">
                <ion-label style="padding-left: 35px">Genre</ion-label>
                <ion-select (ionChange)="onFilterChange('genre' ,$event)" value="">
                    <ion-select-option value=""></ion-select-option>
                    <ion-select-option *ngFor="let genre of getGenre()" [value]="genre">
                        {{genre}}
                    </ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col class="filter">
                <ion-label style="padding-left: 35px">Lieu</ion-label>
                <ion-select (ionChange)="onFilterChange('lieu' ,$event)" value="">
                    <ion-select-option value=""></ion-select-option>
                    <ion-select-option *ngFor="let lieu of getLieux()" [value]="lieu">
                        {{lieu}}
                    </ion-select-option>
                </ion-select>
            </ion-col>

        </ion-row>
    </ion-toolbar>
    <ion-list class="annonces-list">
        <ion-item *ngFor="let annonce of getFilteredData()" class="annonces-item">
            <ion-card class="annonce-card">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <img height="100" width="70" src='{{"../../assets/img/"+annonce["animal"]["photo"]}}' (click)="goToDetail(annonce['animal'])">
                        </ion-col>
                        <ion-col>
                            <ion-card-title>
                                {{annonce["titre"]}}
                            </ion-card-title>
                            <ion-card-subtitle>
                                {{annonce["datePublication"]}}
                            </ion-card-subtitle>
                            <ion-card-content>
                                <div>{{annonce["animal"]["race"]}} - {{annonce["animal"]["genre"]}}</div>

                            </ion-card-content>
                            <ion-row class="cardfooter">
                                <button class="btnLike" (click)="clickOnLikeButton(annonce)" ion-button block>
                                    <ion-icon name="heart"></ion-icon>
                                </button>
                                <span class="annonce-lieu">{{annonce["animal"]["lieu"]}}</span>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>

        </ion-item>
    </ion-list>

</ion-content>
