<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recherche
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="annonces-list">
    <ion-item *ngFor="let annonce of annonces" class="annonces-item" (click)="goToDetail(annonce['animal'])">
      <ion-card class="annonce-card">
        <ion-grid>
          <ion-row>
            <ion-col>
              <img src='{{"../../assets/img/"+annonce["animal"]["photo"]}}'>
            </ion-col>
            <ion-col>
              <ion-card-title>
                {{annonce["titre"]}}
              </ion-card-title>
              <ion-card-subtitle>
                {{annonce["datePublication"]}}
              </ion-card-subtitle>
              <ion-card-content>
                  <div>{{annonce["animal"]["race"]}} - {{annonce["animal"]["genre"]}}</div>

              </ion-card-content>
              <ion-row class="cardfooter">
                <span class="annonce-lieu">{{annonce["animal"]["lieu"]}}</span>

              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

    </ion-item>
  </ion-list>

</ion-content>