.annonces-list .annonces-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.annonces-list .annonce-card {
    position: relative;
    cursor: pointer;
    width: 100%;
}

.annonces-list img {
    width: 300px;
}

.cardfooter {
    position: absolute;
    bottom: 0;
    right: 0;
}

.filters .filter {
    width: 25%
}