ion-content{
    --background: rgb(223, 247, 223);
}

ion-list{
    --background: rgb(223, 247, 223);
    margin:  auto;
     width: 100%;

}

ion-card{
    --background: whitesmoke;
}

ion-item{
    --background: rgb(223, 247, 223);
}

ion-header{
    --background: green;
}

ion-toolbar{
    --background :green;
}

.ion-otherToolbar{
    --background: rgb(223, 247, 223);
}

.ion-searchbar{
    --background: whitesmoke;
}