<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Mes favoris
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-toolbar no-border-top>
    
</ion-toolbar>

<ion-content>
<div>
            <ion-item *ngFor="let annonce of likedAnnonces">
                <ion-thumbnail item-start>
                    <img src='{{"../../assets/img/"+annonce["animal"]["photo"]}}'>
                </ion-thumbnail>
                <h2>{{annonce["titre"]}}</h2>
                <div class="space">
                    <ion-button (click)="goToDetail(annonce['animal'])">Voir</ion-button>
                    <ion-button color="danger" (click)="removeFavoris(annonce)">Supprimer</ion-button>
                </div>
            </ion-item>
</div>
</ion-content>